@model IEnumerable<Mathematics.Web.Models.EquationViewModel>
@{
    ViewBag.Title = "Home Page";
}
@using (Html.BeginForm())
{
    <div class="worksheet">

        @Html.EditorForModel(Model)

    </div>
<button class="btn btn-primary" type="submit" ><span class="glyphicon glyphicon-check"></span>Провери</button>
}
