@model Mathematics.Web.Models.EquationViewModel

<div class="equation">
    @foreach (char character in Model.ToString())
    {
        if (character != '?')
        {
            <div class="squire">
                <span class="squire">@character</span>
            </div>
        }
        else
        {
            <div class="squire answer-squire">
                @Html.DisplayFor(m => m.Answer, new { htmlAttributes = new { @class = (Model.IsAnsverCorrect ?? false) ? "error-squire" : "correct-squire" } })
            </div>
            @Html.HiddenFor(m => m.CorrectAnswer)
        }
    }

    @if (Model.IsAnsverCorrect ?? false)
    {
        <div class="squire correct-answer">
        </div>
    }
</div>
